# Question 1 :
Assuming that we have some email addresses in the "username@companyname.com" format, please
write a program to print the company name of a given email address. Both user names and company
names are composed of letters only.
Input Format:
The first line of the input contains an email address.
Output Format:
Print the company name in a single line.

In [3]:
x = input("Email address:")
y = x.index("@")
print("Company Name:",x[y+1:len(x)-4])

Email address:siddheshpal11@gmail.com
Company Name: gmail

# Question 2 :
Write a program that accepts a comma-separated sequence of words as input and prints the words in a
comma-separated sequence after sorting them alphabetically.
Input Format:
The first line of input contains words separated by the comma.
Output Format:
Print the sorted words separated by the comma.

In [9]:
items = input("Input:\n ")
words = [word for word in items.split(",")]
print("Output:\n",",".join(sorted(words)))

Input:
 Parth,Shivam,Rahul
Output:
 Parth,Rahul,Shivam

# Question 3:
Create your own Jupyter Notebook for Sets. Reference link:
https://www.w3schools.com/python/python_sets.asp

In [10]:

#Create a Set:
thisset = {"Jack", "Computer", "Sparrow","College"}
print(thisset)
{'Cricket', 'Football', 'Polo'}

{'Computer', 'Sparrow', 'Jack', 'College'}

{'Cricket', 'Football', 'Polo'}

In [14]:

#Loop through the set, and print the values:
thisset = {"Cricket", "Computer", "Polo","Dig"}
for x in thisset:
  print(x)

Computer
Polo
Dig
Cricket

In [13]:

#Add an item to a set, using the add() method:
thisset = {"Cricket", "Football", "Polo","Pop"}
thisset.add("Polo")
print(thisset)
{'Volleyball', 'Cricket', 'Football', 'Polo'}

{'Polo', 'Football', 'Pop', 'Cricket'}

{'Cricket', 'Football', 'Polo', 'Volleyball'}

In [12]:

#Add multiple items to a set, using the update() method:
thisset = {"Cricket", "Football", "Polo"}
thisset.update(["carrom", "volleyball", "rugby","Horse"])
print(thisset)
{'carrom', 'Cricket', 'Polo', 'volleyball', 'rugby', 'Football'}

{'Cricket', 'Polo', 'volleyball', 'Football', 'carrom', 'Horse', 'rugby'}

{'Cricket', 'Football', 'Polo', 'carrom', 'rugby', 'volleyball'}

In [11]:
#Remove "Zebra" by using the remove() method:
thisset = {"David", "Football", " Bat","Zebra"}
thisset.remove("Zebra")
print(thisset)

{'Football', ' Bat', 'David'}

# Question 4:
Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no
duplicates.
Input Format:
The first line contains n-1 numbers with each number separated by a space.
Output Format:
Print the missing number

In [15]:
def missing_number(list_num): 
    n = len(list_num) 
    orig_sum = ((n+1)*(n+2)/2) 
    new_sum = sum(list_num) 
    missing_number = (orig_sum-new_sum) 
    return missing_number 

list_num=[1, 2, 3, 5, 6, 4, 7, 8, 10]
miss = missing_number(list_num)
print(miss)

9.0

# Question 5:
With a given list L, write a program to print this list L after removing all duplicate values with original order
reserved.
Example:
If the input list is
12 24 35 24 88 120 155 88 120 155
Then the output should be
12 24 35 88 120 155
Explanation:
Third, the seventh and ninth element of the list L has been removed because it was already present.
Input Format:
In one line take the elements of the list L with each element separated by a space.
Output Format:
Print the elements of the modified list in one line with each element separated by a space.

In [16]:

def Remove(duplicate): 
    final_list = [] 
    for num in duplicate: 
        if num not in final_list: 
            final_list.append(num) 
    return final_list 
      
duplicate = [4, 7, 10, 20, 5, 2, 20, 7, 4] 
print(Remove(duplicate))

[4, 7, 10, 20, 5, 2]